@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
:root[data-theme="light"] {
    color-scheme: light;
}

@media (prefers-color-scheme: dark), :root[data-theme="dark"] {
    :root {
        color-scheme: dark;
    }
}

html {
    overflow-y: scroll;
}

html,
body {
    @apply size-full;
}

body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply dark:bg-stone-900;
    @apply text-black/50 dark:text-white/75;
}

:root[data-theme="light"] {
    @apply bg-stone-100 text-black/50;
}

:root[data-theme="dark"] {
    @apply bg-stone-900 text-white/75;
}

  main {
    @apply flex-1 py-30;
  }

@layer utilities {
    .animate {
        @apply opacity-0 translate-y-3;
        animation: fadeInUp 0.5s ease-out forwards;
        animation-delay: calc(var(--i, 0) * 0.10s);
    }

    .animate:nth-child(1) {
        --i: 1;
    }
    .animate:nth-child(2) {
        --i: 2;
    }
    .animate:nth-child(3) {
        --i: 3;
    }
    .animate:nth-child(4) {
        --i: 4;
    }
    .animate:nth-child(5) {
        --i: 5;
    }
    .animate:nth-child(6) {
        --i: 6;
    }
    .animate:nth-child(7) {
        --i: 7;
    }
    .animate:nth-child(8) {
        --i: 8;
    }
    .animate:nth-child(9) {
        --i: 9;
    }
    .animate:nth-child(10) {
        --i: 10;
    }
    .animate:nth-child(11) {
        --i: 11;
    }
    .animate:nth-child(12) {
        --i: 12;
    }

}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}