---
import Container from "@components/Container.astro";
import ThemeSelect from "@components/ThemeSelect.astro";
import { SITE } from "@consts";
---

<footer class="animate">
  <Container>
    <div class="relative">
    </div>
    <div class="flex justify-between items-center">
      <div>
        &copy; 2025 {`|`} {SITE.NAME}
      </div>
      <div class="flex flex-wrap gap-1 items-center">
        <ThemeSelect />
      </div>
    </div>
  </Container>
  
</footer>
