---
import Container from "@components/Container.astro";

const pathname = Astro.url.pathname;
const isHome = pathname === "/";
const isBlog = pathname.startsWith("/misc");
const isProjects = pathname.startsWith("/projects");
---

<header>
    <Container>
        <nav class="mt-8 flex gap-6 text-muted-foreground text-sm">
            <a class={`transition-colors ${isHome ? "text-black dark:text-white" : "text-gray-400"}`} href="/">[h] home</a>
            <a class={`transition-colors ${isBlog ? "text-black dark:text-white" : "text-gray-400"}`} href="/misc">[b] blog</a>
            <a class={`transition-colors ${isProjects ? "text-black dark:text-white" : "text-gray-400"}`} href="/projects">[p] projects</a>
        </nav>
    </Container>
</header>
